@model LF.Application.ViewModels.LancamentoFinanceiroVM

@{
    ViewData["Title"] = "Editar Lançamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Editar Lançamento</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarLancamento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label">Data/Hora</label>
                <input asp-for="DataHora" class="form-control" type="datetime" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<LF.Domain.Enums.LancamentoFinanceiro.ETipo>()"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<LF.Domain.Enums.LancamentoFinanceiro.EStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="ConsultarLancamento" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
